#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  
}
body{
  background: linear-gradient(90deg, #05060a 0%, #000329a6 100%);
  font-family: 'Arial', sans-serif;
  height: 150vh;
}



